* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0000007a;
    height: 100vh;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}

header {
    height: 3rem;
    width: 100%;
    background-color: #E7EEFD;
}

.nav-bar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding: 0 2rem;
    font-size: 1.1rem;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

li {
    display: inline-block;
    margin-inline: 1rem;
}

li:hover {
    opacity: 0.65;
}

main {
    width: 35vw;
    height: 65vh;
    background-color: #E7EEFD;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 1rem 2rem;
    border-radius: 30px;
    text-align: center;
    perspective: 500px;
}

.top-icon {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    justify-self: center;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: 1rem;
}

h2 {
    margin-bottom: 0.5rem;
}

p .main-text {
    font-size: 16px;
    margin-bottom: 1rem;
}

.pass-token {
    position: relative;
    margin: 1.5rem 0;
}

.pass-token label {
    display: block;
    margin-bottom: 0.3rem;
    font-size: 1rem;
    text-align: left;
}

.pass-token input {
    width: 100%;
    height: 2.5rem;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 0 1rem;
}

.pass-token svg {
    position: absolute;
    bottom: 8px;
    right: 1.5rem;
    cursor: pointer;
}

.show {
    display: block;
}

.hide {
    display: none;
}

button {
    display: block;
    height: 3rem;
    width: 100%;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 10px;
    border: 1px solid;
    margin-bottom: 1rem;
    background-color: #135BEC;
    color: #fff;
    cursor: pointer;
}

button:active {
    transform: translate3d(0px, 1px, -5px);
}

a {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

a:any-link {
    color: #000000;
    opacity: 0.9;
    text-decoration: none;
}

a svg {
    margin-right: 5px;
    transition: all ease 0.5s;
}

#return-link {
    width: 60%;
    text-align: center;
    justify-self: center;
}

.foot-box {
    border-top: 0.5px solid #000;
    margin: 1rem 0;
}

.small-text {
    font-size: 13px;
    margin-top: 1rem;
    opacity: 0.9;
}